/* Colors:
Orange: #e67e22
Dark Orange: #cf6d17
*/

/*-------------------------------------- Basic Setup ----------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix{zoom=1;}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------- LOGOs - white and black  obvi from navbar -----------------------------------*/

.logo {
    width: 100px;
    height: auto;
    float: left;
    margin-top:20px;
} 

/*----------------------------------- Main Navigation -----------------------------------*/

.main-nav{ 
    float:right;
    list-style: none;
    margin-top: 45px;
    /* margin-bottom: 70px;*/
} 

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0px;
    transition: margin-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
  
/*----------------------------------- Mobile Navigation -----------------------------------*/

.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i{
    font-size: 200%;
    color: rgb(0, 0, 0);
}

/*----------------------------------- Sticky Navigation -----------------------------------*/

 /* .sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #ddd;
    z-index: 9999;
}

.sticky .main-nav{ margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    color: #555;
    padding: 15px 0;
}

.sticky .logo{
    display: none;
}
.sticky .logo-black {
    display: block;
}  */


/*-------------------------------------- Reusable components ----------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto; /* here first value is for top-bottom and second is for left-right s*/
}

section{
    padding: 80px 0;
}


/*-------------------------------------- Header properties ----------------------------------------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    background-attachment: fixed;
}

.hero-text-box{
    position: relative; 
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*---------------------------------------- Headings properties ------------------------------------------*/
h1, 
h2, 
h3{
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    text-align: center; 
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2::after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.box{
    padding: 1%;
}
/*------------------------------------------------------- PARAGRAPHS ----------------------------------------------------*/

.long-text{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}
/*------------------------------------------------------- Links ----------------------------------------------------*/
 a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #e67e22; */
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
 }  

/*------------------------------------------------------- ICONS ----------------------------------------------------*/

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    /* Secrets to align the text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
/*----------------------------------- Changing the buttons Link and visited properties -----------------------------------*/
 .btn:link, 
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px; 
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link, 
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, 
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
} 

/*----------------------------------- Changing the buttons hover and active properties -----------------------------------*/
 .btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover, 
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, 
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
} 






.btn-primary{
    background-color: #e67e22;
}



/*----------------------------------- Footer -----------------------------------*/

footer{
    background-color:#c79a7e;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: rgb(51, 51, 51);
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: rgb(255, 255, 255);
    
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram{
    transition: color 0.2s;
}


.ion-logo-facebook:hover{
    color: #ff0000;
}

.ion-logo-twitter:hover{
    color: #ff0000;
}

.ion-logo-googleplus:hover{
    color: #ff0000;
}

.ion-logo-instagram:hover{
    color: #ff0000;
}

footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}
/* -------------------------------------Gtranslate-------------------------------- */
 #google_translate_element{
text-align: center;

}

/* --------------formcover------------ */
.formcover{
    margin: 100px;
}

.card-ka-img{
width: 100%;


} 

.dropselect{
  display: block;

}


a.btn{

    background-color: #e67e22;
    color: black;
}
   /* ----------sell heading-------- */
.mb-5{
    font-weight: 500;
}