.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url("image11.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("image21.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("image31.jpg");
  background-size: cover;
}
.color__nav {
  background-image: linear-gradient(to right, #01070c 0%, #01070c 100%);
}
.k a:hover,
.k a:active {
  color: white;
  border-bottom: 2px solid white;
  border-radius: 8px;
}
#main-footer {
  background: #000;
  color: #fff;
}
.about-img {
  margin-top: -50px;
}
